# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
dist/
build/

# Conda / virtualenv
.env
.venv
env/
venv/
conda-env/

# VS Code
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~

# Project-specific
temp/
results/
chroma_db/
hf_cache/
*.png
*.csv
